<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>back_cards</key>
	<array>
		<string>card_ajonjoli.png</string>
		<string>card_chicken_factory.png</string>
		<string>card_cozzolisi.png</string>
		<string>card_elis.png</string>
		<string>card_silpancho.png</string>
		<string>card_de_pasada.png</string>
		<string>card_paprika.png</string>
		<string>card_porton.png</string>
		<string>card_vitamina.png</string>
		<string>card_mi_deleite.png</string>
	</array>
	<key>correct_card</key>
	<string>card_banca_joven.png</string>
	<key>wrong_card</key>
	<string></string>
	<key>default_back_card</key>
	<string>card_bnb.png</string>
	<key>use_transparency_for_wrong_card</key>
	<true/>
	<key>win_background</key>
	<string>ganaste_comida.png</string>
</dict>
</plist>
