<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>back_cards</key>
	<array>
		<string>card_fitness.png</string>
		<string>card_munhoz.png</string>
		<string>card_talisia.png</string>
		<string>card_chusus.png</string>
		<string>card_zen.png</string>
		<string>card_ciem.png</string>
		<string>card_divine.png</string>
		<string>card_lilian.png</string>
		<string>card_lux.png</string>
		<string>card_mi_salud.png</string>
		<string>card_premier.png</string>
		<string>card_tello.png</string>
		<string>card_wilma.png</string>
	</array>
	<key>correct_card</key>
	<string>card_banca_joven.png</string>
	<key>wrong_card</key>
	<string></string>
	<key>use_transparency_for_wrong_card</key>
	<true/>
	<key>default_back_card</key>
	<string>card_bnb.png</string>
	<key>win_background</key>
	<string>ganaste_salud.png</string>
</dict>
</plist>
