<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>back_cards</key>
	<array>
		<string>card_clean_center.png</string>
		<string>card_pet_shop_america.png</string>
		<string>card_turismo_balas.png</string>
		<string>card_arte_flor.png</string>
		<string>card_clean_center.png</string>
		<string>card_pet_shop_america.png</string>
		<string>card_turismo_balas.png</string>
		<string>card_clean_center.png</string>
		<string>card_pet_shop_america.png</string>
		<string>card_arte_flor.png</string>
	</array>
	<key>correct_card</key>
	<string>card_banca_joven.png</string>
	<key>wrong_card</key>
	<string></string>
	<key>use_transparency_for_wrong_card</key>
	<true/>
	<key>default_back_card</key>
	<string>card_bnb.png</string>
	<key>win_background</key>
	<string>ganaste_varios.png</string>
</dict>
</plist>
