<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>back_cards</key>
	<array>
		<string>card_agitato.png</string>
		<string>card_alex_place.png</string>
		<string>card_anel.png</string>
		<string>card_bassica.png</string>
		<string>card_cosbelle.png</string>
		<string>card_fabella.png</string>
		<string>card_irmas.png</string>
		<string>card_nella.png</string>
		<string>card_textilon.png</string>
		<string>card_4you.png</string>
		<string>card_almanza.png</string>
		<string>card_america.png</string>
		<string>card_babys.png</string>
		<string>card_camis.png</string>
		<string>card_caramelo.png</string>
		<string>card_harem.png</string>
		<string>card_mis17.png</string>
		<string>card_romane.png</string>
		<string>card_sport_planet.png</string>
		<string>card_taiss.png</string>
		<string>card_todo_deporte.png</string>
		<string>card_xotica.png</string>
		<string>card_parker.png</string>
	</array>
	<key>correct_card</key>
	<string>card_banca_joven.png</string>
	<key>wrong_card</key>
	<string></string>
	<key>use_transparency_for_wrong_card</key>
	<true/>
	<key>default_back_card</key>
	<string>card_bnb.png</string>
	<key>win_background</key>
	<string>ganaste_moda.png</string>
</dict>
</plist>
